@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.bg-common {
  background: rgba(34, 44, 51, 0.6);
}

.navbar_top {
  background-color: #bfc0cd;
}

.item1 a {
  color: white;
  text-decoration: none;
}

.bg-right {
  background: #383f48;
}

.nav-link,
.breadcrumb-item {
  padding: 10px 0 10px 30px;
  transition: all 0.2s;
  color: #bfc0cd;
}

.nav-link:hover {
  color: white;
  transform: scale(1.2);
}
